<!-- Viewing one campground with id -->
<% layout('layouts/boilerplate') %>
<h1><%= campground.title %></h1>
<p><%= campground.description %></p>
<h3>$<%= campground.price %></h3>
<small><%= campground.location %> </small>
<br />
<a href="http://localhost:3000/campgrounds">All Campgrounds</a>
<a href="http://localhost:3000/campgrounds/<%= campground.id %>/edit"
  >Edit Campground</a
>
<br />
<br />
<form action="/campgrounds/<%= campground.id %>?_method=DELETE" method="post">
  <button>Delete Campground</button>
</form>
