<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">
    Edit <span class="text-warning"><%= campground.title %></span> Campground
  </h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds/<%= campground.id %>?_method=PATCH"
      method="post"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control text-muted"
          type="text"
          name="title"
          id="title"
          value="<%= campground.title %>"
        />
      </div>

      <!-- PRICE -->
      <div class="mb-3">
        <label class="form-label" for="price">Price</label>
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input
            type="number"
            class="form-control text-muted"
            value="<%= campground.price %>"
            aria-label="Amount (to the nearest dollar)"
          />
          <span class="input-group-text">.00</span>
        </div>
      </div>

      <!-- <div class="mb-3">
        <label class="form-label" for="price">Price</label>
        <input
          class="form-control text-muted"
          type="number"
          name="price"
          id="price"
          value="<%= campground.price %>"
        />
      </div> -->

      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control text-muted"
          type="text"
          name="location"
          id="location"
          value="<%= campground.location %>"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image Link</label>
        <input
          class="form-control text-muted"
          type="text"
          name="image"
          id="image"
          value="<%= campground.image %>"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control text-muted"
          type="text"
          name="description"
          id="description"
        >
<%= campground.description %> </textarea
        >
      </div>
      <button class="btn btn-warning">Submit</button>
    </form>
  </div>
</div>

<!-- <a href="http://localhost:3000/campgrounds/<%= campground.id %>"
  >Back to Campground</a
> -->
